@font-face {
    font-family: "emojis";
    src: url("../fonts/emojione-svg.otf") format('opentype');
}

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow: hidden;
}

#scroll-container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    background: aliceblue;
}

#calendar {
    background: lightyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
}

.calendar-day {
    height: 100vh;
    display: inline-block;
    flex: 0 0 14.28vw;
    align-self: flex-start;
    position: relative;
}

.calendar-day[data-weekday="1"] {
    background-color: orange;
}

.calendar-day[data-weekday="2"] {
    background-color: red;
}

.calendar-day[data-weekday="3"] {
    background-color: deeppink;
}

.calendar-day[data-weekday="4"] {
    background-color: purple;
}

.calendar-day[data-weekday="5"] {
    background-color: dodgerblue;
}

.calendar-day[data-weekday="6"] {
    background-color: limegreen;
}

.calendar-day[data-weekday="0"] {
    background-color: limegreen;
}

.monthday-title {
    /*background-color: rgba(0,0,0,0.1);*/
    text-align: center;
    padding: 0.5em 0;
    color: white;
    margin: 0;
}

.weekday-title {
    /*background-color: rgba(0,0,0,0.1);*/
    text-align: center;
    padding: 0.5em 0;
    color: white;
    margin: 0;
}

.weekday-title::after {
    color: black;
    font-weight: normal;
    font-family: emojis, Arial, sans-serif;
    font-size: 2em;
    /*background-color: white;*/
    width: 1.5em;
    height: 1.5em;
    border-radius: 10em;
    display: block;
    margin: 0.25em auto 0;
    line-height: 1.6em;
    /*content: "";*/
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.weather-icons {
    /* background-color: lightblue; */
    align-content: center;
    display: flex;
    height: 8em;
    border-bottom: 1px solid;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid black;
}

.weather-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    transform: scale(3);
    flex: 1 1 1.25em;
    height: 70px;
}

.weather-temp {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    z-index: 1;
    height: 1em;
    color: white;
    margin-top: 1em;
    width: 100%;
    bottom: 1.5em;
}

.event-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-icon {
    color: white;
    font-weight: normal;
    font-family: emojis, Arial, sans-serif;
    border-top: 1px solid black;
    flex: 1 1 auto;
    font-size: 3em;
    padding: 0.25em 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-icon img {
    flex: 1 1 1em;
    object-fit: contain;
    width: 25%;
    margin: 0 0.1em;
    max-width: 50%;
}

.weekday-image {
    width: 75%;
    margin: 0 auto;
    display: block;
}

.event-description {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: white;
    font-size: 0.8em;
}

.today-message img {
    position: absolute;
    top: 4.5em;
    width: 50%;
    left: 25%;
    box-shadow: 0 0 1.5em 0.5em white;
    border-radius: 4em;
}

.alarm-overlay {
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    left: 0;
    top: 0;
}

.alarm-overlay div {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
}

.alarm-overlay.sleep {
    background-color: rgba(0,0,0,0.9);
}

.alarm-overlay.sleep div {
    background-image: url(../emojis/1f4a4.png);
    opacity: 0.25;
}

.alarm-overlay.hush {
    background-color: rgba(0,150,0,0.5);
}

.alarm-overlay.hush div {
    background-image: url(../emojis/1f92b.png);
    opacity: 1;
}

.alarm-overlay.read {
    background-color: rgba(100,0,0,0.5);
}

.alarm-overlay.read div {
    background-image: url(../emojis/1f4d5.png);
    opacity: 1;
}

#scroll-pusher {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

#authorize-button {
    position: fixed;
    top: 0;
    left: 0;
}