html,body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#scroll-container {
    overflow-x: scroll;
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    background: aliceblue;
}

#calendar {
    background: lightyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.calendar-day {
    height: 100vh;
    display: inline-block;
    flex: 0 0 14.28vw;
    align-self: flex-start;
}

.calendar-day[data-weekday="0"] {
    background-color: yellow;
}
.calendar-day[data-weekday="0"] .weekday-title::after {
    content: "🌞";
}

.calendar-day[data-weekday="1"] {
    background-color: red;
}
.calendar-day[data-weekday="1"] .weekday-title::after {
    content: "🌜";
}

.calendar-day[data-weekday="2"] {
    background-color: deeppink;
}
.calendar-day[data-weekday="2"] .weekday-title::after {
    content: "🦕";
}

.calendar-day[data-weekday="3"] {
    background-color: purple;
}
.calendar-day[data-weekday="3"] .weekday-title::after {
    content: "🐶";
}

.calendar-day[data-weekday="4"] {
    background-color: dodgerblue;
}
.calendar-day[data-weekday="4"] .weekday-title::after {
    content: "⚡️";
}

.calendar-day[data-weekday="5"] {
    background-color: limegreen;
}
.calendar-day[data-weekday="5"] .weekday-title::after {
    content: "👫";
}

.calendar-day[data-weekday="6"] {
    background-color: green;
}
.calendar-day[data-weekday="6"] .weekday-title::after {
    content: "🛠";
}

.weekday-title {
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.5em 0;
}

.weekday-title::after {
    font-size: 2em;
    background-color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 10em;
    display: block;
    margin: 0.25em auto 0;
    line-height: 1.6em;
}